<!DOCTYPE html>
<html>

<head>
    <title>Activation Email</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        /* Base */
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            margin-top: 0;
            margin-bottom: 24px;
        }

        table td {
            vertical-align: top;
        }

        /* Layout */
        .emai-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .email-header {
            padding: 24px;
            color: #ffffff;
            background-color: #0070f3;
        }

        .email-body {
            padding: 24px;
            background-color: #ffffff;
        }

        .email-footer {
            padding: 24px;
            background-color: #f6f6f6;
        }

        /* Buuton */
        .button {
            display: inline-block;
            background-color: #0070f3;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="emai-wrapper">
        <div class="email-header">
            <h1>Welcome</h1>
        </div>
        <div class="email-body">
            <p>Hello <%= user.name %>
            </p>
            <p>Thankyou for registering. To Activate your account, please use the following activation code:</p>
            <h2>
                <%= activationCode%>
            </h2>
            <p>Please enter this code to the activation page in next 5 minutes</p>
            <P>If you did not register for account, then please ignore this message</P>
        </div>
        <div class="email-footer">
            <p>If you have any question, please don't hesitate to contact with us at <a
                    href="mailto:usmanahmedkharal@gmail.com">Usman Ahmed Goraya</a></p>
        </div>
    </div>
</body>

</html>